<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="GymManagementSystemEntities" connectionString="metadata=res://*/DAL.GymManagementModel.csdl|res://*/DAL.GymManagementModel.ssdl|res://*/DAL.GymManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JV8SC96;initial catalog=GymManagementSystem;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>